* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

.wrapper {
  width: 100%;
}

.calc-body {
  margin: 0 auto;
  
  width: 300px;
  
  background-color: blueviolet;
}

.calc-display {

  text-align: right;

  margin: 0 auto;

  padding: 15px;

  height: 100%;
  width: 80%;
}

.display-lastcalc {
  background-color: gainsboro;
  width: 100%;
  height: 30px;
  display: block;
}

.display-calc {
  background-color: gainsboro;
  width: 100%;
}

.calc-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 15px;
}

.btn {
  padding: 20px;
  font-size: 20px;

  border: solid 2px;
  border-radius: 15px;;

  min-height: 60px;
  min-width: 60px;
}

.btn:hover {
  background-color: gainsboro;
  color: yellow;
}

.btnYellow {
  background-color: yellow;
  color: black;
}

.btnYellow:hover {
  color: yellow;
}

.cc {
  position: static;
  bottom: 0;
  left: 0;
}